<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suriosity.learnhindi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Numbers"
            android:label="@string/numbers" />
        <activity
            android:name=".Days"
            android:label="@string/days" />
        <activity
            android:name=".Relationships"
            android:label="@string/relationships" />
        <activity
            android:name=".FruitsAndVegetables"
            android:label="@string/fruits_and_vegetables" />
        <activity
            android:name=".Pronouns"
            android:label="@string/pronouns" />
        <activity
            android:name=".AnimalsAndInsects"
            android:label="@string/animals_and_insects" />
        <activity
            android:name=".BodyParts"
            android:label="@string/body_parts" />
        <activity
            android:name=".ConditionAndColors"
            android:label="@string/condition_and_color" />
        <activity
            android:name=".Government"
            android:label="@string/government_and_business" />
        <activity
            android:name=".Nature"
            android:label="@string/nature" />
        <activity
            android:name=".Miscellaneous"
            android:label="@string/miscellaneous" />
        <activity
            android:name=".Verbs"
            android:label="@string/verbs"></activity>
    </application>

</manifest>